.noMargin.navbar {
    margin-bottom: 0;
    background-color: #6c757d;
    background-image: none;
}

div.jumbotron {
    padding: 2rem 2rem;
    margin-bottom: 5px;
    background-color: #e9ecef;
}

div.well {
    background-color: white;
    background-image: none;
    border-radius: 10px;
}

button.buttonLink {
    padding: 0 5px;
    border: 0 solid white;
    background: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

button.buttonLink:hover, button.buttonLink:focus, button.buttonLink:active,
button.buttonLink:active:hover, button.buttonLink:active:focus {
    background-color: rgba(0,123,255,.25);
    background-position-y: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
    border-color: white;
    border-width: 0;
}

button.buttonMargin {
    margin-bottom: 10px;
}

button.buttonLink:focus {
    outline: none;
}

.well.small-padding {
    padding: 15px 19px;
}

.well.xs-padding {
    padding: 12px 19px;
}

i.small-line-height {
    line-height: 20px !important;
}

.btn.icon  {
    background: none;
    background-color: #007ad9;
    padding: 4px 10px;
    border-radius: 4px;
    border: 1px solid #007ad9;
}

.align-center {
	display: flex;
	align-items: center;
}

div.ui-button {
    display: block !important;
    padding: 4px 10px !important;
    border-radius: 5px !important;
    width: 120px;
}

body .ui-buttonset:not(.ui-splitbutton) > .ui-button {
    margin-bottom: 10px;
}

.btn.btn-modal  {
    background: none;
    background-color: #007ad9;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #007ad9;
}

hr.small-height {
    margin: 15px 0px;
}

div.small-height {
    margin: 10px 0px;
}

h3.small-y-margin {
    margin-top: 5px;
    margin-bottom: 4px;
}

.well.small-y-margin {
    margin-bottom: 5px;
    margin-top: 5px;
}

.well.small-margin {
    margin-bottom: 12px;
    margin-top: 12px;
}

